@charset "UTF-8";
/* line 1, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/reset.sass */
ul, ol {
  list-style: none; }

/* line 3, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/reset.sass */
h1, h2, h3, h4, h5, h6, pre, code {
  font-size: 1em; }

/* line 5, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/reset.sass */
ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input, dl, dt, dd, figure, figcaption {
  margin: 0;
  padding: 0; }

/* line 8, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/reset.sass */
a img, :link img, :visited img, fieldset {
  border: none; }

/* line 10, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/reset.sass */
address {
  font-style: normal; }

/* line 12, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/reset.sass */
header, section, article, nav, footer, hgroup, details, summary, figure, main {
  display: block; }

/* line 14, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/reset.sass */
mark {
  color: inherit;
  background: transparent; }

/* line 17, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/reset.sass */
abbr {
  border: none; }

/* line 19, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/reset.sass */
summary::-webkit-details-marker {
  display: none; }

/* line 37, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
body {
  background: white;
  font-family: "Noto Serif", serif;
  font-size: 13px;
  color: #232833; }
  /* line 42, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
  body > header {
    background-color: #001d59;
    background-image: -moz-linear-gradient(100% 100% 90deg, #003ea1, #001d59);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#001d59), to(#003ea1));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#001d59, endColorstr=#003ea1);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#001d59, endColorstr=#003ea1);
    color: white;
    text-align: right;
    margin: 0 0 30px 0; }
    /* line 47, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
    body > header .wrapper {
      background: url("/images/logo_header.png") 50px 50% no-repeat; }
      /* line 49, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
      body > header .wrapper h1 {
        font-size: 40px;
        font-weight: normal;
        padding-top: 55px; }
        /* line 53, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
        body > header .wrapper h1 a {
          color: white; }
      /* line 55, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
      body > header .wrapper h2 {
        font-weight: normal;
        font-family: "PT Sans", Helvetica, sans-serif;
        text-transform: uppercase;
        margin: 0 0 30px 0; }
        /* line 60, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
        body > header .wrapper h2 span {
          margin: 0 5px;
          opacity: 0.5;
          filter: alpha(opacity=50); }
      /* line 65, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
      body > header .wrapper nav ul li {
        display: inline-block;
        margin-bottom: 10px; }
        /* line 68, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
        body > header .wrapper nav ul li a {
          display: inline-block;
          background-color: #2b83f8;
          background-image: -moz-linear-gradient(100% 100% 90deg, #194dbb, #2b83f8);
          background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2b83f8), to(#194dbb));
          filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#2b83f8, endColorstr=#194dbb);
          -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#2b83f8, endColorstr=#194dbb);
          color: white;
          -webkit-box-shadow: 0 1px 2px 0 #001d59;
          -moz-box-shadow: 0 1px 2px 0 #001d59;
          box-shadow: 0 1px 2px 0 #001d59;
          font-family: "PT Sans", Helvetica, sans-serif;
          padding: 5px;
          margin-left: 15px;
          min-width: 120px;
          text-align: center; }
          /* line 20, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
          body > header .wrapper nav ul li a:hover {
            background-color: #4491f9;
            background-image: -moz-linear-gradient(100% 100% 90deg, #1c56d1, #4491f9);
            background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4491f9), to(#1c56d1));
            filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#4491f9, endColorstr=#1c56d1);
            -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#4491f9, endColorstr=#1c56d1); }
  /* line 70, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
  body > footer {
    clear: both;
    color: white;
    background-color: #002c79;
    background-image: -moz-linear-gradient(100% 100% 90deg, #001d59, #002c79);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#002c79), to(#001d59));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#002c79, endColorstr=#001d59);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#002c79, endColorstr=#001d59);
    min-height: 200px;
    padding: 20px 0; }
    /* line 76, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
    body > footer p {
      float: left; }
      /* line 78, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
      body > footer p + p {
        float: right; }
        /* line 80, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
        body > footer p + p a {
          display: inline-block;
          background-color: #2b83f8;
          background-image: -moz-linear-gradient(100% 100% 90deg, #194dbb, #2b83f8);
          background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2b83f8), to(#194dbb));
          filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#2b83f8, endColorstr=#194dbb);
          -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#2b83f8, endColorstr=#194dbb);
          color: white;
          -webkit-box-shadow: 0 1px 2px 0 #001d59;
          -moz-box-shadow: 0 1px 2px 0 #001d59;
          box-shadow: 0 1px 2px 0 #001d59;
          font-family: "PT Sans", Helvetica, sans-serif;
          padding: 5px;
          margin-left: 15px;
          min-width: 120px;
          text-align: center; }
          /* line 20, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
          body > footer p + p a:hover {
            background-color: #4491f9;
            background-image: -moz-linear-gradient(100% 100% 90deg, #1c56d1, #4491f9);
            background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4491f9), to(#1c56d1));
            filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#4491f9, endColorstr=#1c56d1);
            -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#4491f9, endColorstr=#1c56d1); }

/* line 83, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
.wrapper {
  min-width: 800px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px; }

/* line 89, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
a {
  text-decoration: none; }

/* line 92, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
figure {
  text-align: center; }
  /* line 94, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
  figure img {
    max-width: 100%;
    height: auto; }
  /* line 97, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
  figure figcaption {
    text-align: right;
    font-style: italic;
    font-size: 11px; }

/* line 103, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
.copy h1, .copy h2 {
  font-size: 22px;
  color: #001d59;
  border-bottom: 1px solid #99a5bd;
  padding: 5px 10px;
  margin: 0 0 20px 0; }
/* line 109, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
.copy h2 {
  font-size: 14px; }
/* line 111, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
.copy h3 {
  font-size: 14px;
  margin: 0 10px 20px 10px; }
/* line 114, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
.copy p {
  line-height: 180%;
  padding: 0 10px;
  margin: 0 0 20px 0; }
/* line 118, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
.copy ul {
  padding-left: 30px;
  list-style-type: disc;
  line-height: 140%;
  margin: 0 0 20px 0; }
  /* line 123, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
  .copy ul li {
    margin: 0 0 8px 0; }
/* line 125, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
.copy blockquote {
  background: #e7e9ee;
  border: 1px solid #ccd2de;
  padding: 30px;
  margin: 30px 0; }
  /* line 130, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
  .copy blockquote p {
    text-indent: 40px;
    position: relative;
    z-index: 1; }
    /* line 134, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
    .copy blockquote p:before {
      font-family: georgia;
      display: block;
      position: absolute;
      left: -50px;
      top: -70px;
      content: "“";
      color: #ccd2de;
      font-size: 240px;
      text-indent: 0;
      line-height: 100%;
      z-index: -1; }
    /* line 146, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
    .copy blockquote p + p:before {
      content: ""; }
    /* line 148, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
    .copy blockquote p.cite {
      text-align: right;
      font-style: italic;
      margin: 0; }

/* line 154, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
#home .img {
  float: left; }
  /* line 156, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
  #home .img img {
    margin: 0 20px 10px 0;
    border: 1px solid #c3ccdc;
    -webkit-box-shadow: -2px 2px 0 0 #aaaaaa;
    -moz-box-shadow: -2px 2px 0 0 #aaaaaa;
    box-shadow: -2px 2px 0 0 #aaaaaa; }
  /* line 159, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
  #home .img + .img {
    float: right;
    margin: 0 0 0 20px; }
/* line 162, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
#home article {
  overflow: hidden; }
  /* line 165, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
  #home article p.read_more {
    text-align: right; }
    /* line 167, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
    #home article p.read_more a {
      display: inline-block;
      background: #003ea1;
      color: white;
      font-family: "PT Sans", Helvetica, sans-serif;
      padding: 5px 20px;
      -webkit-box-shadow: -2px 2px 0 0 #aaaaaa;
      -moz-box-shadow: -2px 2px 0 0 #aaaaaa;
      box-shadow: -2px 2px 0 0 #aaaaaa; }
      /* line 30, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
      #home article p.read_more a:hover {
        background: #074dbc; }
  /* line 169, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
  #home article + article {
    clear: both;
    float: left;
    width: 45%;
    margin: 0 0 40px 0; }
    /* line 174, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
    #home article + article + article {
      clear: none;
      float: right; }

/* line 180, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
#meet_fritz article figure {
  margin: 20px;
  max-width: 35%; }
  /* line 183, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
  #meet_fritz article figure img {
    border: 1px solid #c3ccdc;
    -webkit-box-shadow: -2px 2px 0 0 #aaaaaa;
    -moz-box-shadow: -2px 2px 0 0 #aaaaaa;
    box-shadow: -2px 2px 0 0 #aaaaaa;
    width: 100%;
    height: auto; }
    /* line 187, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
    #meet_fritz article figure img.no-border {
      border: none;
      box-shadow: none; }
  /* line 190, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
  #meet_fritz article figure.left {
    float: left;
    margin-left: 10px; }
  /* line 193, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
  #meet_fritz article figure.right {
    float: right;
    margin-right: 10px; }
/* line 196, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
#meet_fritz > figure {
  margin: 0 auto 30px auto;
  max-width: 780px; }

/* line 201, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
#coaching > article {
  width: 60%;
  margin: 0 30px 0 0;
  float: left; }
/* line 205, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
#coaching > aside {
  overflow: hidden; }
  /* line 207, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
  #coaching > aside figure {
    text-align: center;
    margin: 0 0 20px 0; }
    /* line 210, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
    #coaching > aside figure img {
      border: 1px solid #c3ccdc;
      -webkit-box-shadow: -2px 2px 0 0 #aaaaaa;
      -moz-box-shadow: -2px 2px 0 0 #aaaaaa;
      box-shadow: -2px 2px 0 0 #aaaaaa;
      max-width: 100%; }

/* line 215, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
#speaking > article {
  width: 60%;
  margin: 0 30px 0 0;
  float: left; }
/* line 219, /Users/camerondaigle/Projects/fritzklumpp/source/stylesheets/application.css.sass */
#speaking > aside {
  overflow: hidden; }
