%section#coaching.copy
  %article
    %h1 Life Coaching
    %p Life Coaching is all about creating an empowering relationship whereby the coach can help the client move forward in a life changing way. In the process the coach assists the client in the discovery and fulfillment of a meaningful life purpose.
    %p The coach employs the disciplines of intensive listening and asking powerful questions to aid the client in exploring options, setting goals, and providing accountability. The assumption is that the client is the expert and already has the resources necessary to be all that he can be. The coach’s role is simply to help the client discover those resources and set the necessary goals to accomplish what the client desires.
    %p Life Coaching is unlike consulting, counseling, or mentoring, for the coach neither imparts information nor sets the agenda. The client provides the expertise and the agenda.
    %h2 Testimonials
    %blockquote
      %p Fritz was highly effective in helping me better connect my personal core values to an action plan that truly works! His rich experience in leadership development as well as his intuitive insight, brought a valuable dynamic to each of our coaching sessions.
      %p.cite — Alan L. Harkey
    %blockquote
      %p The idea of using a life coach was, at first, a little intimidating. It seemed “new age” and I did not think there would be a huge benefit. What I have come to understand is that your coach provides differing perspectives which give you a broader view in which to make decisions. Fritz Klumpp helped me make some very difficult decisions, assisting me in taking emotion out of my thought process and guiding me to conclusions which I could feel good about. He is masterful in the way he asks questions which lead you to decision points, which ultimately lead you to actionable steps resolving the issue. I would recommend Fritz to anyone needing coaching. He really brings a great Christian perspective and real world experience to the table.
      %p Fritz, thanks for everything, you have been very helpful to me over the last 9 months.
      %p.cite — J. Dunham, Financial Advisor

  %aside

    %figure= image_tag "/images/fritz-klumpp-coaching-0.jpg"

    %h2 Ministry Experience

    %h3 2001-Present
    %ul
      %li Secretary-Treasurer, Post-Traumatic Growth Institute, 2010-present
      %li Advisory Board, Prayer Breakfast Network, 1997-present
      %li Member of CBMC from 1973 through 2008
      %li CBMC Board of Directors, 1993-1997, 2000-2003
      %li CBMC Executive Director, 2000-2003
      %li Elder, Grace Community Church, 1997-2008
      %li Board, Life-Help, 1998-2003
      %li CBMC Outreach Speaker, 1975-2007
      %li Outreach Speaker, Prayer Breakfast Network
      %li Outreach Speaker, Christian Women’s Clubs

    %h3 1991-2000
    %ul
      %li Temporary Staff, Cadence Ministries U.K., Summer 2000
      %li Certified Team Trainer, Team Resources 1998
      %li Associate Staff, 1985-2000 (Contributor to OT Rewrite and Living Proof)
      %li CBMC President’s Council, 1981-2000
      %li Director of Training for CBMC Lifestyle Evangelism Training, 1986-1990

    %h3 1971-1990
    %ul
      %li Chairman Atlanta Perimeter CBMC, 1985-1987
      %li Chairman CBMC Covington, Louisiana (charter) 1973-1978, 1980-1981
      %li Chairman Board Northlake Christian School, 1979-80
      %li Elder, Tammany Christian Fellowship, 1975-1980
      %li Chairman Founding Board Northlake Christian School, 1979
      %li Secretary Founding Board, Tammany Christian Fellowship 1973-1974