%section#speaking.copy
  %article
    %figure
      = image_tag "/images/fritz-klumpp-speaking-1.jpg"
    %h1 Speaking
    %p As an inspirational/motivational speaker, Fritz has spoken in Europe, Australia, Africa, Canada, and throughout the United States. He has spoken at luncheons, banquets, conventions, governmental prayer breakfasts, prisons, athletic clubs, air shows, retreats, and churches. In these venues, he has candidly shared his life changing personal story including his successes and failures, his disappointments, as well as his hopes, his fears, and his challenges.
    %p You will be able to relate to the elations of life as Fritz talks about the thrill of flying a fighter from the deck of an aircraft carrier in combat, and you will share his disappointments of seeking to find meaning in life while pursuing things that cannot fulfill life’s deepest needs.
    %p Fritz has trained businessmen around the world and is prepared to speak on a number of subjects, including: “Establishing a Purpose”, “The Leverage of a Team”, “ A Man and His Marriage”, “Leaving a Legacy”, “Transformational Leadership”, “Walking by Faith”, and “Lifestyle Evangelism”.
  %aside
    %figure= image_tag "/images/fritz-klumpp-speaking-2.jpg"
    %h2 Wings Of Gold, Wings Of Truth
    %p If you're interested in what you've read here on the website and would like to know more, just contact Fritz for copies of "Wings Of Gold, Wings Of Truth", his booklet that tells the rest of the story.